In [ ]:
import pandas as pd
import numpy as np

from itertools import combinations

# Diagnosis of which schools are missing

## diagnosis of which schools are missing due to missing STAR or spending data

In [ ]:
DC_finance_2018=pd.read_excel("../Dataset/NCES/DC_1819.xlsx")
DC_STAR_2018=pd.read_csv("../Dataset/OSSEDC/2018/2018_STAR_Score.csv")
DC_finance_2019=pd.read_excel("../Dataset/NCES/DC_1920.xlsx")
DC_STAR_2019=pd.read_csv("../Dataset/OSSEDC/2019/2019_STAR_Score.csv")

DC_STAR_2019.columns = DC_STAR_2019.columns.str.replace(" ", "_")
DC_STAR_2019.columns = DC_STAR_2019.columns.str.replace("Framework_", "")

DC_STAR_2018.columns = DC_STAR_2018.columns.str.replace(" ", "_")

In [ ]:
DC_full_STAR_2018=pd.merge(DC_finance_2018,DC_STAR_2018,
                           left_on="schoolid_stateassigned",right_on="School_Code",how="inner")
DC_full_STAR_2019=pd.merge(DC_finance_2019,DC_STAR_2019,
                           left_on="schoolid_stateassigned",right_on="School_Code",how="inner")

In [ ]:
miss_financial_2018 = DC_STAR_2018[-DC_STAR_2018["School_Code"].isin(DC_finance_2018.schoolid_stateassigned)]
miss_financial_2019 = DC_STAR_2019[-DC_STAR_2019["School_Code"].isin(DC_finance_2019.schoolid_stateassigned)]

miss_star_2018 = DC_finance_2018[-DC_finance_2018.schoolid_stateassigned.isin(DC_STAR_2018["School_Code"])]
miss_star_2019 = DC_finance_2019[-DC_finance_2018.schoolid_stateassigned.isin(DC_STAR_2019["School_Code"])]

In [ ]:
print("Number of STAR without finanicial data is: ",
      miss_financial_2018.shape[0])
print("Number of schools doesn't have a STAR score is :",
      miss_star_2018.shape[0])

print("Number of STAR without finanicial data is: ",
      miss_financial_2019.shape[0])
print("Number of schools doesn't have a STAR score is :",
      miss_star_2019.shape[0])

Number of STAR without finanicial data is:  6
Number of schools doesn't have a STAR score is : 45
Number of STAR without finanicial data is:  10
Number of schools doesn't have a STAR score is : 40

### analysis school type

In [ ]:

print("The school type with the most missing star data in 2018 was", miss_star_2018['schtype_raw_DC'].value_counts().index[0], 
      ',', miss_star_2018['schtype_raw_DC'].value_counts()[0], "schools of this type miss star data")
print("The school type with the most missing financial data in 2018 was", miss_financial_2018['School_Type'].value_counts().index[0], 
      ',', miss_financial_2018['School_Type'].value_counts()[0], "schools of this type miss financial data")


print("The school type with the most missing star data in 2019 was", miss_star_2019['schtype_raw_DC'].value_counts().index[0], 
      ',', miss_star_2019['schtype_raw_DC'].value_counts()[0], "schools of this type miss star data")
print("The school type with the most missing financial data in 2019 was", miss_financial_2019['School_Type'].value_counts().index[0], 
      ',', miss_financial_2019['School_Type'].value_counts()[0], "schools of this type miss financial data")

The school type with the most missing star data in 2018 was Charter , 28 schools of this type miss star data
The school type with the most missing financial data in 2018 was Charter , 6 schools of this type miss financial data
The school type with the most missing star data in 2019 was Charter , 31 schools of this type miss star data
The school type with the most missing financial data in 2019 was Charter , 10 schools of this type miss financial data

### analysis school size

In [ ]:
print("In 2018, out of", len(miss_star_2018), "schools that miss star score,", len(miss_star_2018[miss_star_2018['enroll_raw_DC']=='NRD']), "schools don't have enrollment data.")
print("The average students number of schools that miss star score is", round(miss_star_2018[miss_star_2018['enroll_raw_DC']!='NRD'].enroll_raw_DC.mean()),
      "Compare to the average students number of every school in DC is", round(DC_finance_2018[DC_finance_2018['enroll_raw_DC']!='NRD'].enroll_raw_DC.mean()))

print("In 2019, out of", len(miss_star_2019), "schools that miss star score,", len(miss_star_2019[miss_star_2019['enroll_raw_DC']=='NRD']), "schools don't have enrollment data.")
print("The average students number of schools that miss star score is", round(miss_star_2019[miss_star_2019['enroll_raw_DC']!='NRD'].enroll_raw_DC.mean()),
      "Compare to the average students number of every school in DC is", round(DC_finance_2019[DC_finance_2019['enroll_raw_DC']!='NRD'].enroll_raw_DC.mean()))

In 2018, out of 45 schools that miss star score, 11 schools don't have enrollment data.
The average students number of schools that miss star score is 326 Compare to the average students number of every school in DC is 394
In 2019, out of 40 schools that miss star score, 1 schools don't have enrollment data.
The average students number of schools that miss star score is 324 Compare to the average students number of every school in DC is 395