In [1]:
import pandas as pd
import numpy as np

from itertools import combinations

# Merging STAR, NCES, and Diveristy data

Read in previous processed data files as a pandas dataframe

In [2]:

star = pd.read_csv("../Dataset/final_data/star.csv")
nces = pd.read_csv("../Dataset/final_data/nces.csv")
diversity = pd.read_csv("../Dataset/final_data/diversity.csv")

In [3]:
all_df = star.merge(nces, left_on='School_Code', right_on='schoolid_stateassigned')
all_df = all_df.merge(diversity.add_prefix('diversity_'), left_on='School_Code', right_on='diversity_School_Code')

[[i, j] for i,j in combinations(all_df, 2) if all_df[i].equals(all_df[j])]

[['School_Code', 'schoolid_stateassigned'],
 ['School_Code', 'diversity_School_Code'],
 ['schoolid_stateassigned', 'diversity_School_Code'],
 ['schtype_raw_DC', 'diversity_Entity_Type'],
 ['distid_stateassigned', 'diversity_LEA_Code']]

In [4]:
final_drop_cols = ['schoolid_stateassigned', 'diversity_School_Code', 'diversity_Entity_Type', 'diversity_LEA_Code', \
                   'diversity_Not_at-risk_(%)', 'year_1819', 'year_1920', 'diversity_LEA_Name', 'diversity_School_Name',\
                   'diversity_Most_socioeconomically_diverse_flag', 'diversity_Majority_group']
all_df = all_df.drop(final_drop_cols, axis=1)
all_df.rename(columns = {'distid_stateassigned':'Dist_Code', 
                         'diversity_Total_Count_of_Students': 'Total_Count_of_Students', 
                         'diversity_Ward': 'Ward'}, inplace = True)
all_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231 entries, 0 to 230
Data columns (total 43 columns):
 #   Column                                                                                         Non-Null Count  Dtype
---  ------                                                                                         --------------  -----
 0   Unnamed: 0_x                                                                                   231 non-null    int64
 1   School_Code                                                                                    231 non-null    int64
 2   STAR_Score_18                                                                                  231 non-null    float64
 3   STAR_Rating_18                                                                                 231 non-null    int64
 4   STAR_Score_19                                                                                  231 non-null    int64
 5   STAR_Rating_19                                                                                 231 non-null    int64
 6   STAR_Score_inc                                                                                 231 non-null    int64
 7   STAR_Score_change                                                                              231 non-null    float64
 8   STAR_Rating_change                                                                             231 non-null    float64
 9   Unnamed: 0_y                                                                                   231 non-null    int64
 10  schoolname                                                                                     231 non-null    object
 11  level                                                                                          230 non-null    float64
 12  schtype_raw_DC                                                                                 231 non-null    object
 13  Dist_Code                                                                                      231 non-null    int64
 14  distname                                                                                       231 non-null    object
 15  pp_total_raw_DC_1819                                                                           231 non-null    float64
 16  pp_site_raw_DC_1819                                                                            193 non-null    float64
 17  pp_centshare_raw_DC_1819                                                                       193 non-null    float64
 18  schoolstloc_raw_DC_1819                                                                        231 non-null    float64
 19  enroll_raw_DC_1819                                                                             231 non-null    float64
 20  pp_total_raw_DC_1920                                                                           230 non-null    float64
 21  pp_site_raw_DC_1920                                                                            193 non-null    float64
 22  pp_centshare_raw_DC_1920                                                                       193 non-null    float64
 23  schoolstloc_raw_DC_1920                                                                        230 non-null    float64
 24  enroll_raw_DC_1920                                                                             230 non-null    float64
 25  pp_total_raw_DC_inc(%)                                                                         231 non-null    float64
 26  pp_total_raw_DC_inc                                                                            230 non-null    float64
 27  pp_site_raw_DC_inc(%)                                                                          193 non-null    float64
 28  pp_site_raw_DC_inc                                                                             193 non-null    float64
 29  pp_centshare_raw_DC_inc(%)                                                                     190 non-null    float64
 30  pp_centshare_raw_DC_inc                                                                        193 non-null    float64
 31  schoolstloc_raw_DC_inc(%)                                                                      231 non-null    float64
 32  schoolstloc_raw_DC_inc                                                                         230 non-null    float64
 33  enroll_raw_DC_inc(%)                                                                           231 non-null    float64
 34  enroll_raw_DC_inc                                                                              230 non-null    float64
 35  diversity_Unnamed: 0                                                                           231 non-null    int64
 36  Ward                                                                                           231 non-null    int64
 37  Total_Count_of_Students                                                                        231 non-null    int64
 38  diversity_At-Risk_(%)                                                                          231 non-null    int64
 39  diversity_Socieconomic_Diversity_Score,_2018-19_(%)                                            231 non-null    int64
 40  diversity_Socieconomic_Diversity_Score,_2016-17_(%)                                            231 non-null    float64
 41  diversity_Change_in_Socieconomic_Diversity_Score,_from_2016-17_to_2018-19_(percentage_points)  231 non-null    float64
 42  diversity_risk_level                                                                           231 non-null    int64
dtypes: float64(26), int64(14), object(3)
memory usage: 79.4+ KB

In [5]:
all_df['STAR_Score_inc'] = all_df.STAR_Score_18 - all_df.STAR_Score_19
all_df['STAR_Score_inc(%)'] = all_df[['STAR_Score_18', 'STAR_Score_19']].pct_change(axis='columns', periods=-1)['STAR_Score_18']
all_df['STAR_Rating_inc'] = all_df.STAR_Rating_18 - all_df.STAR_Rating_19
all_df['STAR_Rating_inc(%)'] = all_df[['STAR_Rating_18', 'STAR_Rating_19']].pct_change(axis='columns', periods=-1)['STAR_Rating_18']

In [6]:
all_df.columns

Index(['Unnamed: 0_x', 'School_Code', 'STAR_Score_18', 'STAR_Rating_18',
       'STAR_Score_19', 'STAR_Rating_19', 'STAR_Score_inc',
       'STAR_Score_change', 'STAR_Rating_change', 'Unnamed: 0_y', 'schoolname',
       'level', 'schtype_raw_DC', 'Dist_Code', 'distname',
       'pp_total_raw_DC_1819', 'pp_site_raw_DC_1819',
       'pp_centshare_raw_DC_1819', 'schoolstloc_raw_DC_1819',
       'enroll_raw_DC_1819', 'pp_total_raw_DC_1920', 'pp_site_raw_DC_1920',
       'pp_centshare_raw_DC_1920', 'schoolstloc_raw_DC_1920',
       'enroll_raw_DC_1920', 'pp_total_raw_DC_inc(%)', 'pp_total_raw_DC_inc',
       'pp_site_raw_DC_inc(%)', 'pp_site_raw_DC_inc',
       'pp_centshare_raw_DC_inc(%)', 'pp_centshare_raw_DC_inc',
       'schoolstloc_raw_DC_inc(%)', 'schoolstloc_raw_DC_inc',
       'enroll_raw_DC_inc(%)', 'enroll_raw_DC_inc', 'diversity_Unnamed: 0',
       'Ward', 'Total_Count_of_Students', 'diversity_At-Risk_(%)',
       'diversity_Socieconomic_Diversity_Score,_2018-19_(%)',
       'diversity_Socieconomic_Diversity_Score,_2016-17_(%)',
       'diversity_Change_in_Socieconomic_Diversity_Score,_from_2016-17_to_2018-19_(percentage_points)',
       'diversity_risk_level', 'STAR_Score_inc(%)', 'STAR_Rating_inc',
       'STAR_Rating_inc(%)'],
      dtype='object')

In [7]:
all_df.head()

,Unnamed: 0_x,School_Code,STAR_Score_18,STAR_Rating_18,STAR_Score_19,STAR_Rating_19,STAR_Score_inc,STAR_Score_change,STAR_Rating_change,Unnamed: 0_y,...,Ward,Total_Count_of_Students,diversity_At-Risk_(%),"diversity_Socieconomic_Diversity_Score,_2018-19_(%)","diversity_Socieconomic_Diversity_Score,_2016-17_(%)","diversity_Change_in_Socieconomic_Diversity_Score,_from_2016-17_to_2018-19_(percentage_points)",diversity_risk_level,STAR_Score_inc(%),STAR_Rating_inc,STAR_Rating_inc(%)
0,1,102,35.63,2,38,2,-2.37,-0.062368,0.000000,24,...,7,133,75,25,28.417265,-3.417265,4,-0.062368,0,0.000000
1,2,109,47.68,3,40,2,7.68,0.192000,0.500000,23,...,7,360,66,34,37.325907,-3.325907,4,0.192000,1,0.500000
2,3,113,35.96,2,57,3,-21.04,-0.369123,-0.333333,170,...,8,415,73,27,28.752261,-1.752261,4,-0.369123,-1,-0.333333
3,4,114,51.40,3,36,2,15.40,0.427778,0.500000,179,...,5,485,60,40,46.167558,-6.167558,4,0.427778,1,0.500000
4,5,114,51.40,3,53,3,-1.60,-0.030189,0.000000,179,...,5,485,60,40,46.167558,-6.167558,4,-0.030189,0,0.000000

In [8]:
#converting back to a csv file
all_df.to_csv("../Dataset/final_data/final_data.csv")