# STAR Data on D.C school's performance

In [1]:
import pandas as pd
import numpy as np

from itertools import combinations

In [2]:
path = "../Dataset/"

In [3]:
star_19 = pd.read_csv('../Dataset/OSSEDC/2019/2019_STAR_Score.csv')  
star_18 = pd.read_csv('../Dataset/OSSEDC/2018/2018_STAR_Score.csv')  
star_19.head()
#star_18.head()

,LEA Code,LEA Name,School Code,School Name,School Type,Ward,Accountability Framework,Framework Weight,Framework Points Earned,Framework Points Possible,Framework STAR Score,Framework STAR Rating,School Year
0,1,District of Columbia Public Schools,175,School-Within-School @ Goding,DCPS,6,Elementary School with Pre-Kindergarten,100,79,90,88,5,2019
1,1,District of Columbia Public Schools,202,Aiton Elementary School,DCPS,7,Elementary School with Pre-Kindergarten,100,10,95,11,1,2019
2,1,District of Columbia Public Schools,203,Amidon-Bowen Elementary School,DCPS,6,Elementary School with Pre-Kindergarten,100,46,95,49,3,2019
3,1,District of Columbia Public Schools,204,Bancroft Elementary School @ Sharpe,DCPS,1,Elementary School with Pre-Kindergarten,100,83,100,83,5,2019
4,1,District of Columbia Public Schools,205,Barnard Elementary School,DCPS,4,Elementary School with Pre-Kindergarten,100,73,100,73,4,2019

In [4]:
star_19.columns

Index(['LEA Code', 'LEA Name', 'School Code', 'School Name', 'School Type',
       'Ward', 'Accountability Framework', 'Framework Weight',
       'Framework Points Earned', 'Framework Points Possible',
       'Framework STAR Score', 'Framework STAR Rating', 'School Year'],
      dtype='object')

In [5]:
star_19.columns = star_19.columns.str.replace("Framework_", "")
star_19.columns = star_19.columns.str.replace(" ", "_")
#star_19 = star_19.drop(['School_Year'], axis=1)
star_18.columns = star_18.columns.str.replace(" ", "_")

star_19.info()
star_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   LEA_Code                   251 non-null    int64
 1   LEA_Name                   251 non-null    object
 2   School_Code                251 non-null    int64
 3   School_Name                251 non-null    object
 4   School_Type                251 non-null    object
 5   Ward                       251 non-null    int64
 6   Accountability_Framework   251 non-null    object
 7   Framework_Weight           251 non-null    int64
 8   Framework_Points_Earned    251 non-null    int64
 9   Framework_Points_Possible  251 non-null    int64
 10  Framework_STAR_Score       251 non-null    int64
 11  Framework_STAR_Rating      251 non-null    int64
 12  School_Year                251 non-null    int64
dtypes: int64(9), object(4)
memory usage: 25.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LEA_Code     203 non-null    int64
 1   LEA_Name     203 non-null    object
 2   School_Code  203 non-null    int64
 3   School_Name  203 non-null    object
 4   School_Type  203 non-null    object
 5   Ward         203 non-null    int64
 6   STAR_Score   203 non-null    float64
 7   STAR_Rating  203 non-null    int64
 8   ObjectId     203 non-null    int64
dtypes: float64(1), int64(5), object(3)
memory usage: 14.4+ KB

In [6]:
star_19.columns

Index(['LEA_Code', 'LEA_Name', 'School_Code', 'School_Name', 'School_Type',
       'Ward', 'Accountability_Framework', 'Framework_Weight',
       'Framework_Points_Earned', 'Framework_Points_Possible',
       'Framework_STAR_Score', 'Framework_STAR_Rating', 'School_Year'],
      dtype='object')

## Merge years together

In [5]:
star_18.columns

Index(['LEA_Code', 'LEA_Name', 'School_Code', 'School_Name', 'School_Type',
       'Ward', 'STAR_Score', 'STAR_Rating', 'ObjectId'],
      dtype='object')

In [6]:
star_19.columns

Index(['LEA_Code', 'LEA_Name', 'School_Code', 'School_Name', 'School_Type',
       'Ward', 'Accountability_Framework', 'Framework_Weight',
       'Framework_Points_Earned', 'Framework_Points_Possible',
       'Framework_STAR_Score', 'Framework_STAR_Rating', 'School_Year'],
      dtype='object')

In [7]:
#star_18.reset_index()
star = star_18[['School_Code', 'STAR_Score', 'STAR_Rating']].merge(star_19[['School_Code', 'STAR_Score', 'STAR_Rating']], on='School_Code', suffixes=('_18', '_19'))
star.head()

KeyError: "['STAR_Score', 'STAR_Rating'] not in index"

In [ ]:
star['STAR_Score_inc'] = star.STAR_Score_18 - star.STAR_Score_19
star['STAR_Score_change'] = star[['STAR_Score_18', 'STAR_Score_19']].pct_change(axis='columns', periods=-1)['STAR_Score_18']
star['STAR_Score_inc'] = star.STAR_Rating_18 - star.STAR_Rating_19
star['STAR_Rating_change'] = star[['STAR_Rating_18', 'STAR_Rating_19']].pct_change(axis='columns', periods=-1)['STAR_Rating_18']

In [ ]:
star.head()

In [ ]:
#turn back to csv file 
star.to_csv("../Dataset/final_data/star.csv")