In [1]:
from google.colab import drive
drive.mount('/content/drive')
%cd "/content/drive/MyDrive/DS1final/"

Mounted at /content/drive
/content/drive/MyDrive/DS1final

In [5]:
import pandas as pd
import numpy as np

In [7]:
!ls "Dataset/final_data"

grad_join.csv  nces_finana_join.csv  SAT_join.csv

In [9]:
path = "Dataset/final_data/"

In [10]:
grad = pd.read_csv(path + "grad_join.csv")
nces = pd.read_csv(path + "nces_finana_join.csv")
SAT = pd.read_csv(path + "SAT_join.csv")

In [11]:
grad.head()

,Unnamed: 0,CODE,SCHOOL,ETHNICITY,N_GRADS,GRAD_PERCENTAGE,YEAR
0,5,402,Benjamin Banneker HS,All,108,1.000000,2019
1,15,436,Ron Brown College Preparatory High School,All,n < 10,NaN,2019
2,19,442,Columbia Heights EC (CHEC),All,220,0.814815,2019
3,29,450,Anacostia HS,All,51,0.490385,2019
4,38,452,Ballou HS,All,152,0.582375,2019

In [12]:
nces.head()

,Unnamed: 0,state_x,year_x,distid_stateassigned_x,schoolid_stateassigned,distname_x,schoolname_x,ncesdistid_admin_x,ncesdistid_geo_x,census_id_x,...,distexclu_raw_DC_y,schtype_raw_DC_y,ward_raw_DC_y,countenroll_y,noaudit_y,nositecen_y,adfinvars_y,distflex_y,flag_nerds_y,flag_f33_y
0,0,DC,2018-2019,178,233,Academy of Hope Adult PCS,Academy of Hope Adult PCS,NaN,NaN,NaN,...,721987,Charter,5,1,0,0,0,1,0,0
1,1,DC,2018-2019,155,217,Achievement Preparatory Academy PCS,Achievement Preparatory Academy PCS - Wahler P...,1100072.0,1100072.0,NaN,...,5331797,Charter,8,1,0,0,0,1,0,0
2,2,DC,2018-2019,155,1100,Achievement Preparatory Academy PCS,Achievement Preparatory Academy PCS - Wahler P...,1100072.0,1100072.0,NaN,...,5331797,Charter,8,1,0,0,0,1,0,0
3,3,DC,2018-2019,103,140,AppleTree Early Learning PCS,AppleTree Early Learning Center PCS - Columbia...,1100054.0,1100054.0,NaN,...,7363789,Charter,1,1,0,0,0,1,0,0
4,4,DC,2018-2019,103,3072,AppleTree Early Learning PCS,AppleTree Early Learning Center PCS - Douglas ...,1100054.0,1100054.0,NaN,...,7363789,Charter,8,1,0,0,0,1,0,0

In [13]:
SAT.head()

,Unnamed: 0,CODE,SCHOOL,TEST_TAKERS,AVG_READING_SCORE,AVG_MATH_SCORE,AVG_TOTAL
0,5,402,Benjamin Banneker HS,82,551,552,1104.0
1,6,436,Ron Brown College Preparatory High School,2,435,405,840.0
2,7,442,Columbia Heights EC (CHEC),102,425,419,845.0
3,8,450,Anacostia HS,15,416,405,822.0
4,9,452,Ballou HS,10,379,383,762.0

In [14]:
performance_df = SAT.merge(grad, on='CODE')
performance_df.head()

,Unnamed: 0_x,CODE,SCHOOL_x,TEST_TAKERS,AVG_READING_SCORE,AVG_MATH_SCORE,AVG_TOTAL,Unnamed: 0_y,SCHOOL_y,ETHNICITY,N_GRADS,GRAD_PERCENTAGE,YEAR
0,5,402,Benjamin Banneker HS,82,551,552,1104.000000,5,Benjamin Banneker HS,All,108,1.0,2019
1,5,402,Benjamin Banneker HS,82,551,552,1104.000000,5,Benjamin Banneker HS,All,113,1.0,2021
2,5,402,Benjamin Banneker HS,206,557,553,1110.970825,5,Benjamin Banneker HS,All,108,1.0,2019
3,5,402,Benjamin Banneker HS,206,557,553,1110.970825,5,Benjamin Banneker HS,All,113,1.0,2021
4,6,436,Ron Brown College Preparatory High School,2,435,405,840.000000,15,Ron Brown College Preparatory High School,All,n < 10,NaN,2019